<div class="dashboardorder">
  <div id="main" class="dashboard-container container-fluid" style="min-height: 100vh">
    <div class="top-bar row 	p-0">
      <div class="col-12 row w-100 ml-0" style=" background: #efefef; ">
        <div class="col-4 top-bar-inner-left  d-flex my-auto ">
          <img src="assets/images/hindustan-wellness-logo.png" width="180px" />
        </div>
        <div class="col-6"></div>
        <div class=" col-2 top-bar-inner-right my-auto d-flex text-right">
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                  <a href="" class="media nav-link dropdown-toggle menu-icon" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                      src="../../../assets/images/notification.svg" width="20px" class="" /></a>
                  <div class="megamenu-content dropdown-menu city-lists-container"
                    aria-labelledby="megamenu-dropdown-1">
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <ul class="subnav">

                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                  <a href="" class="media nav-link dropdown-toggle menu-icon" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                      src="../../../assets/images/notification.svg" width="20px" class="" /></a>
                  <div class="megamenu-content dropdown-menu city-lists-container"
                    aria-labelledby="megamenu-dropdown-1">
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <ul class="subnav">
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                  <a href="" class="media nav-link dropdown-toggle menu-icon" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                      src="../../../assets/images/user.svg" width="20px" class="" /></a>
                  <div class="megamenu-content dropdown-menu city-lists-container"
                    aria-labelledby="megamenu-dropdown-1">
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <ul class="subnav">
                          <li class="subnav-item">
                            <a href="javascript:;" style="text-decoration: none;"
                              class="subnav-link">{{loggedUser.username}}</a>
                          </li>
                          <li class="subnav-item">
                            <a href="javascript:;" style="text-decoration: none;"
                              class="subnav-link">{{loggedUser.roleID}}</a>
                          </li>
                          <li class="subnav-item">
                            <a href="javascript:;" style="text-decoration: none;" class="subnav-link"
                              (click)="logout()">LOGOUT</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="col-12 col-12 text-center p-0  main-navbar">
        <nav class="navbar navbar-expand  p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item dropdown" aria-labelledby="navbarDropdown" *ngFor="let menus of AlldynamicMenuObjs">
                <a href="" class="media nav-link dropdown-toggle menu-icon" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menus.ModuleName}}</a>
                <div class="megamenu-content dropdown-menu city-lists-container" aria-labelledby="megamenu-dropdown-1">
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <ul class="subnav">
                        <li class="subnav-item" *ngFor="let subMenus of menus.Menus">
                          <a routerLink="{{subMenus.routeUrl}}" style="text-decoration: none;" class="subnav-link">
                            {{subMenus.PageName}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="dashboard-inner-wrapper">
      <router-outlet></router-outlet>
    </div>
    <div class="row fixed-bottom" style="background: #484848;height:25px"></div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: red">Please Wait.</p>
    </ngx-spinner>
  </div>
</div>