
	<link rel="stylesheet" href="assets/css/style.css">

<body class="dp-body login-page">
	<div class="main-container container-fluid" style="height:100%;" >
		<div class="row justify-content-center" style="height:100%;" >
		<!--Right container--->
		<div class=".col-sm-12 col-md-5 left-panel my-auto">
				<img class="dp-logo mx-auto d-block" src="assets/images/hindustan-wellness-logo.png">
				<form [formGroup]="loginForm" class="form-signin needs-validation" (ngSubmit)="onSubmit()">
					<div class="rounded mb-3">
						<mat-form-field class="example-full-width d-block">
							<input matInput placeholder="User Name" formControlName="username" required>
						</mat-form-field>						
						<mat-form-field class="example-full-width d d-block" hintLabel="Password is Case Sensitive">
							<input matInput type="password" placeholder="Enter Password" formControlName="password" required>
						</mat-form-field>
						<label  style="font-size:12px;" class="mb-3"><input type="checkbox" class="mr-2">Remember Me</label>
						<a href="" class="float-right" style="font-size:12px;">Forgot Password?</a>
					</div>
					<button [disabled]="loading" class="btn btn-primary mx-auto d-block w-50">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						LOGIN
					</button>
			  </form>
			</div>	
		</div>
	</div>
</body>

<footer>
<!-- Modal POP UP -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center">message</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</footer>




