<div class="row mb-5 ml-2 mr-2">
    <div class=" col-md-12" style="background:#6d7884">
        <div class="text-white pt-1 pb-1" style="background:#6d7884">
            <h5 class="text-uppercase text-left mb-0">VIEW PINCODE</h5>
        </div>
    </div>
    <div class="col-md-12 mt-4" >
            <h6 class="custom-title"><strong><i>Apply Filter</i></strong></h6>
        <div class="row mt-3 pt-1 pb-1 border" style="background-color: white;">
            <div class="col-md-3">
                <mat-form-field class="example-full-width d-block">
                    <mat-select placeholder="Select Circle">
                        <mat-option>-- Select --</mat-option>
                       
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 ">
                <mat-form-field class="example-full-width d-block">
                    <mat-select placeholder="Select District">
                        <mat-option>-- Select --</mat-option>
                        
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 ">
                <mat-form-field class="example-full-width d-block">
                    <input matInput placeholder="Pincode" maxlength="6">
                </mat-form-field>
            </div>
            <div class="col-md-3 "><button mat-raised-button color="warn">FETCH</button>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
            <h6 class="custom-title"><strong><i>Pincode List</i></strong></h6>
    </div>

    
    <div class="col-md-12 row mb-6">
        <div class="col-sm-12">
            <mat-form-field class="example-full-width">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="col-sm-12">
            <table mat-table [dataSource]="dataSource" style="width: 100%">
                <ng-container matColumnDef="SNo.">
                    <th mat-header-cell *matHeaderCellDef>SNo.</th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        {{ i + 1 }}</td>
                </ng-container>
                <!-- Position Column -->
                <ng-container matColumnDef="pincode">
                    <th mat-header-cell *matHeaderCellDef>Pincode</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.pincode}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="District">
                    <th mat-header-cell *matHeaderCellDef>District</th>
                    <td mat-cell *matCellDef="let element"> {{element.District}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> State </th>
                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                </ng-container>
                <ng-container matColumnDef="circle">
                    <th mat-header-cell *matHeaderCellDef> Circle </th>
                    <td mat-cell *matCellDef="let element"> {{element.CircleName}} </td>
                </ng-container>
                <ng-container matColumnDef="Status_Info">
                    <th mat-header-cell *matHeaderCellDef> Status</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.Status_Info==1; then thenTemplateName else elseTemplateName">
                            NA
                        </div>
                        <ng-template #thenTemplateName>
                            <div style="color: green">Active</div>
                        </ng-template>

                        <ng-template #elseTemplateName>
                            <div style="color: red">Inactive</div>
                        </ng-template>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[50, 30, 100]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: red">Please Wait. </p>
    </ngx-spinner>
</div>